/* https://colordesigner.io/ */

@import url('https://fonts.googleapis.com/css2?family=Caveat+Brush&family=Open+Sans&display=swap');

/* Variables */
:root {
    --ft-family-text: "Open Sans", sans-serif;
    --ft-family-heading: 'Caveat Brush', cursive;
    --color-lilac: hsl(281.71, 75.93%, 78.82%);
    --color-pink: hsl(292.6, 65.81%, 54.12%);
    --color-light-pink: hsl(291.86, 67.05%, 65.49%);
    --color-deep-purple: hsl(257.14, 62.5%, 21.96%);
    --color-light-lilac: hsl(252.35, 70.83%, 90.59%);
    --color-light-black: hsl(0, 0%, 13.33%);
    --color-black: hsl(0, 0%, 0%);
    --color-white: hsl(0, 0%, 100%);

    --shadow: rgba(0, 0, 0, .4);
}

/* CSS Reset */

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    font-family: var(--ft-family-text);
}

body {
    font-family: inherit;
}

.app {
    height: 100vh;
    width: 100%;
    background: linear-gradient(to bottom right, var(--color-pink), var(--color-deep-purple));
    display: flex;
    justify-content: center;
    align-items: center;
}


/* Calculator */
.calculator {
    height: 80vh;
    width: 40%;
    box-shadow: 0 2rem 4rem var(--shadow);
    background-color: var(--color-light-black);
}


/* Screen */
.result-screen {
    height: 19vh;
    font-size: 8rem;
    font-weight: 600;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

.formula-screen {
    height: 6vh;
    font-size: 2.5rem;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

.screen {
    height: 25vh;
    width: 100%;
    padding: 0 2rem;
    overflow: hidden;
    white-space: no-wrap;
    color: var(--color-light-lilac);
    background-color: var(--color-lilac);
}
